header {
    background-color: rgba(57, 79, 244, 0.9);
    position: fixed;
    top: 0;
    width: 100%;
}
.container {
    max-width: 90rem;
    margin-inline: auto;
    padding-inline: 1.5rem;
}
.navbar {
    display: flex;
    /* position: static; */
    align-items: center;
    justify-content: space-between;
    padding-block: 0.4rem;
}
.nav-list {
    position: relative;
    list-style: none;
    display: flex;
}
.nav-item {
    min-width: 10rem;
    text-align: center;
    /* padding-block: 1rem; */
}
.nav-link {
    text-transform: uppercase;
}
.button {
    padding: 15px;
    background: transparent;
    border: transparent;
    font-size: 15px;
    cursor: pointer;
}
.active {
    position: absolute;
    bottom: -1rem;
    height: 2px;
    width: 10rem;
    background-color: #7b0aa2;
    transition: transform 0.25s;
}
a {
    text-decoration: none;
    font-size: 15px;
}
.nav-item:nth-child(2):hover ~ .active {
    transform: translateX(11rem);
}
.nav-item:nth-child(3):hover ~ .active {
    transform: translateX(22rem);
}
.nav-item:nth-child(4):hover ~ .active {
    transform: translateX(33rem);
}
.nav-item:nth-child(5):hover ~ .active {
    transform: translateX(44rem);
}
